.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.1em;
  --top-offset: 76.66vh;
  --fall-duration: 6.344s;
  --fall-delay: 9.966s;
}
.star:nth-child(2) {
  --star-tail-length: 5.17em;
  --top-offset: 59.95vh;
  --fall-duration: 11.709s;
  --fall-delay: 5.823s;
}
.star:nth-child(3) {
  --star-tail-length: 5.98em;
  --top-offset: 97.65vh;
  --fall-duration: 10.987s;
  --fall-delay: 4.855s;
}
.star:nth-child(4) {
  --star-tail-length: 5.58em;
  --top-offset: 66.26vh;
  --fall-duration: 6.599s;
  --fall-delay: 0.349s;
}
.star:nth-child(5) {
  --star-tail-length: 6.21em;
  --top-offset: 10.46vh;
  --fall-duration: 7.361s;
  --fall-delay: 6.199s;
}
.star:nth-child(6) {
  --star-tail-length: 5.77em;
  --top-offset: 46.48vh;
  --fall-duration: 8.112s;
  --fall-delay: 5.102s;
}
.star:nth-child(7) {
  --star-tail-length: 5.11em;
  --top-offset: 59.03vh;
  --fall-duration: 6.977s;
  --fall-delay: 0.261s;
}
.star:nth-child(8) {
  --star-tail-length: 6.63em;
  --top-offset: 65.06vh;
  --fall-duration: 11.298s;
  --fall-delay: 9.281s;
}
.star:nth-child(9) {
  --star-tail-length: 7.43em;
  --top-offset: 47.17vh;
  --fall-duration: 8.035s;
  --fall-delay: 0.49s;
}
.star:nth-child(10) {
  --star-tail-length: 6.56em;
  --top-offset: 81.56vh;
  --fall-duration: 11.019s;
  --fall-delay: 6.565s;
}
.star:nth-child(11) {
  --star-tail-length: 6em;
  --top-offset: 76.54vh;
  --fall-duration: 11.62s;
  --fall-delay: 3.724s;
}
.star:nth-child(12) {
  --star-tail-length: 6.39em;
  --top-offset: 95.32vh;
  --fall-duration: 8.576s;
  --fall-delay: 6.355s;
}
.star:nth-child(13) {
  --star-tail-length: 6.09em;
  --top-offset: 51.04vh;
  --fall-duration: 7.189s;
  --fall-delay: 2.704s;
}
.star:nth-child(14) {
  --star-tail-length: 5.94em;
  --top-offset: 32.96vh;
  --fall-duration: 9.424s;
  --fall-delay: 3.948s;
}
.star:nth-child(15) {
  --star-tail-length: 7.29em;
  --top-offset: 22.5vh;
  --fall-duration: 6.25s;
  --fall-delay: 3.337s;
}
.star:nth-child(16) {
  --star-tail-length: 7.44em;
  --top-offset: 50.29vh;
  --fall-duration: 6.406s;
  --fall-delay: 4.345s;
}
.star:nth-child(17) {
  --star-tail-length: 7.45em;
  --top-offset: 3.97vh;
  --fall-duration: 11.534s;
  --fall-delay: 0.707s;
}
.star:nth-child(18) {
  --star-tail-length: 5.08em;
  --top-offset: 86.02vh;
  --fall-duration: 10.144s;
  --fall-delay: 8.391s;
}
.star:nth-child(19) {
  --star-tail-length: 6.78em;
  --top-offset: 34.46vh;
  --fall-duration: 6.82s;
  --fall-delay: 9.005s;
}
.star:nth-child(20) {
  --star-tail-length: 7.41em;
  --top-offset: 42.13vh;
  --fall-duration: 6.141s;
  --fall-delay: 7.463s;
}
.star:nth-child(21) {
  --star-tail-length: 6.79em;
  --top-offset: 19.97vh;
  --fall-duration: 7.239s;
  --fall-delay: 7.152s;
}
.star:nth-child(22) {
  --star-tail-length: 6.97em;
  --top-offset: 78.39vh;
  --fall-duration: 8.568s;
  --fall-delay: 3.627s;
}
.star:nth-child(23) {
  --star-tail-length: 5.72em;
  --top-offset: 67.35vh;
  --fall-duration: 10.079s;
  --fall-delay: 6.586s;
}
.star:nth-child(24) {
  --star-tail-length: 7.13em;
  --top-offset: 79.13vh;
  --fall-duration: 6.823s;
  --fall-delay: 2.882s;
}
.star:nth-child(25) {
  --star-tail-length: 5.41em;
  --top-offset: 68.36vh;
  --fall-duration: 8.663s;
  --fall-delay: 9.734s;
}
.star:nth-child(26) {
  --star-tail-length: 6.76em;
  --top-offset: 56.78vh;
  --fall-duration: 11.326s;
  --fall-delay: 0.406s;
}
.star:nth-child(27) {
  --star-tail-length: 5.95em;
  --top-offset: 26.63vh;
  --fall-duration: 6.846s;
  --fall-delay: 0.976s;
}
.star:nth-child(28) {
  --star-tail-length: 7.25em;
  --top-offset: 34.1vh;
  --fall-duration: 10.071s;
  --fall-delay: 9.806s;
}
.star:nth-child(29) {
  --star-tail-length: 5.57em;
  --top-offset: 98.1vh;
  --fall-duration: 9.639s;
  --fall-delay: 1.069s;
}
.star:nth-child(30) {
  --star-tail-length: 6.41em;
  --top-offset: 55.53vh;
  --fall-duration: 8.591s;
  --fall-delay: 6.37s;
}
.star:nth-child(31) {
  --star-tail-length: 7.39em;
  --top-offset: 87.09vh;
  --fall-duration: 11.23s;
  --fall-delay: 5.969s;
}
.star:nth-child(32) {
  --star-tail-length: 5.55em;
  --top-offset: 94.04vh;
  --fall-duration: 6.334s;
  --fall-delay: 6.546s;
}
.star:nth-child(33) {
  --star-tail-length: 5.79em;
  --top-offset: 27.46vh;
  --fall-duration: 9.161s;
  --fall-delay: 9.804s;
}
.star:nth-child(34) {
  --star-tail-length: 5.59em;
  --top-offset: 76.27vh;
  --fall-duration: 6.133s;
  --fall-delay: 9.328s;
}
.star:nth-child(35) {
  --star-tail-length: 6.09em;
  --top-offset: 12.45vh;
  --fall-duration: 7.445s;
  --fall-delay: 2.064s;
}
.star:nth-child(36) {
  --star-tail-length: 5.77em;
  --top-offset: 11.08vh;
  --fall-duration: 11.261s;
  --fall-delay: 4.547s;
}
.star:nth-child(37) {
  --star-tail-length: 6.55em;
  --top-offset: 6.07vh;
  --fall-duration: 11.758s;
  --fall-delay: 7.588s;
}
.star:nth-child(38) {
  --star-tail-length: 6.85em;
  --top-offset: 54.57vh;
  --fall-duration: 9.993s;
  --fall-delay: 3.88s;
}
.star:nth-child(39) {
  --star-tail-length: 6.77em;
  --top-offset: 39.55vh;
  --fall-duration: 8.622s;
  --fall-delay: 8.99s;
}
.star:nth-child(40) {
  --star-tail-length: 5.96em;
  --top-offset: 11.96vh;
  --fall-duration: 8.935s;
  --fall-delay: 8.635s;
}
.star:nth-child(41) {
  --star-tail-length: 6.98em;
  --top-offset: 73.04vh;
  --fall-duration: 11.191s;
  --fall-delay: 9.201s;
}
.star:nth-child(42) {
  --star-tail-length: 5.49em;
  --top-offset: 55.32vh;
  --fall-duration: 10.339s;
  --fall-delay: 4.471s;
}
.star:nth-child(43) {
  --star-tail-length: 5.11em;
  --top-offset: 35.51vh;
  --fall-duration: 10.291s;
  --fall-delay: 4.343s;
}
.star:nth-child(44) {
  --star-tail-length: 6.52em;
  --top-offset: 40.93vh;
  --fall-duration: 7.695s;
  --fall-delay: 1.6s;
}
.star:nth-child(45) {
  --star-tail-length: 7.3em;
  --top-offset: 92.5vh;
  --fall-duration: 10.033s;
  --fall-delay: 9.151s;
}
.star:nth-child(46) {
  --star-tail-length: 5.98em;
  --top-offset: 21.12vh;
  --fall-duration: 7.879s;
  --fall-delay: 0.081s;
}
.star:nth-child(47) {
  --star-tail-length: 7.16em;
  --top-offset: 53.31vh;
  --fall-duration: 8.054s;
  --fall-delay: 7.244s;
}
.star:nth-child(48) {
  --star-tail-length: 6.63em;
  --top-offset: 63.72vh;
  --fall-duration: 6.829s;
  --fall-delay: 6.276s;
}
.star:nth-child(49) {
  --star-tail-length: 5.54em;
  --top-offset: 84.3vh;
  --fall-duration: 11.453s;
  --fall-delay: 2.645s;
}
.star:nth-child(50) {
  --star-tail-length: 5.7em;
  --top-offset: 90.7vh;
  --fall-duration: 11.122s;
  --fall-delay: 8.764s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, #D10024, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=bg_stars.css.map */